:root{
    box-sizing: border-box;
}

#maze{
    height: 300px;
    width: 420px;
    background-color:darkblue;
    display: flex;
    flex-direction: column;
    position: relative;
}
.row{
    flex-grow: 1;
    

    display: flex;
}

.block{
    flex-grow: 1;
    border: darkblue;
}

.block.wall{
    background-color:blueviolet;
}

.block.start{
    background-color: red;
}

.block.space{
    background-color: transparent;
}


.block.finish{
    background-color: blue;
}

#player{
    background-color: red;
    position: absolute;
    height: 20px;
    width: 20px;
    top: 260px;
    left: 8px;
}

.win{
    border: 1px red;
    height: 150px;
    width: 150px;
    position: absolute;
    justify-content: center;
    top: 100px;
    right: 120px;
    font-size: 70px;
}
